# The Atari program uses its original memory map. Its variables and
# buffers are at fixed addresses below $5000, and the program is at $9221,
# where it was in the cartridge.
MEMORY {
    ROM:     start = $9200, size = $2E05, file = %O;
    CARTHDR: start = $BFFA, size = $0006, file = "";
}
SEGMENTS {
    STARTUP: load = ROM,     type = ro, start = $9200;
    CODE:    load = ROM,     type = ro, start = $9221;
    CARTHDR: load = CARTHDR, type = ro;
}
